@page "/price"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject DatabaseDbContext datacontext
@inject NavigationManager nag
@inject IJSRuntime js

@if(Prices is null)
{
    <Loading/>
}
else
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <button type="button" class="btn btn-success waves-effect" data-toggle="modal" data-target="#defaultModal">Add Price</button>
                    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="defaultModalLabel">ADD PRICE</h4>
                                </div>
                                <EditForm Model="@createPrice" OnValidSubmit="@CreateAsync">
                                    <DataAnnotationsValidator />
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText type="text" class="form-control" placeholder="Name" @bind-Value="createPrice!.PriceName" />
                                            </div>
                                        </div>
                                        <label for="pricedays">Days</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputNumber class="form-control" id="pricedays" @bind-Value="createPrice!.PriceDay" />
                                            </div>
                                        </div>
                                        <label for="balances">Balance</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputNumber class="form-control" id="balances" @bind-Value="createPrice!.Balance" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="createPrice.ProductId" class="form-control show-tick">
                                                    <option value>Select Product</option>
                                                    @foreach (var item in GetProducts!)
                                                    {
                                                        <option value="@item.ProductId">@item.ProductName</option>

                                                    }
                                                </InputSelect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        PRICES TABLE
                    </h2>
                </div>
                <div class="body">
                    <form>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <InputText type="text" class="form-control" placeholder="Search" @bind-Value="TextSearch" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <button type="button" @onclick="(() => OnSearch(0))" class="btn btn-primary btn-lg waves-effect">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Days</th>
                                    <th>Balance</th>
                                    <th>Product</th>
                                    <th>Create Date</th>
                                    <th>Update Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var acc in Prices)
                                    {
                                        <tr>
                                            <td>@acc.PriceName</td>
                                            <td>@acc.PriceDay</td>
                                            <td>
                                                @{
                                                    string html = String.Format(new CultureInfo("vi-VN"), "{0:C0}", acc.Balance);
                                                    @html;
                                                }
                                            </td>
                                            <td>@acc.Product!.ProductName</td>
                                            <td>@acc.CreateDate</td>
                                            <td>@acc.UpdateDate</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a type="button" @onclick="(() => EditModal(acc))" class="waves-effect">
                                                                <i class="material-icons">mode_edit</i> Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a type="button" @onclick="(() => DeleteModal(acc))" class="waves-effect">
                                                                <i class="material-icons">delete</i> Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-7">
                            <nav>
                                <ul class="pagination">
                                    @{
                                        for (int i = 1; i <= PageCount; i++)
                                        {
                                            int captureIndex = i;
                                            string subClass = CurrentPageNumber == captureIndex ? "active" : string.Empty;
                                            string subBtnClass = CurrentPageNumber == captureIndex ? "btn btn-primary" : "btn btn-default";
                                            <li class="@subClass"><button class="@subBtnClass waves-effect" @onclick="(async () => await OnSearch(captureIndex))">@captureIndex</button></li>
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<DialogPriceComponent @rendermode="InteractiveServer" @ref="dialogPriceComponent" PriceEdit="PriceEdit" HandleDeleteEvent="HandleDeleteEvent" HandleEditEvent="HandleEditEvent"></DialogPriceComponent>

@code {
    DialogPriceComponent? dialogPriceComponent;

    Price? PriceEdit = new();

    string TextSearch { get; set; } = string.Empty;

    int PageCount { get; set; }
    int CurrentPageNumber { get; set; }

    private List<Product> GetProducts = new();

    private List<Price>? Prices;

    private Price? createPrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        //Accounts = await datacontext.UserAccounts.ToListAsync();
        GetProducts = await datacontext.Products.ToListAsync();
        await OnSearch(0);
        createPrice ??= new Price();
    }

    private async Task OnSearch(int page)
    {
        var data = await datacontext.Prices.ToListAsync();

        if (!string.IsNullOrEmpty(TextSearch))
        {
            data = data.Where(s => (s.PriceName is not null ? s.PriceName.ToLower().Contains(TextSearch.ToLower()) : false)).ToList();

            Prices = data;
        }

        if (page <= 0)
        {
            page = 1;
        }

        int maxRows = 10;
        int? count = (page - 1) * maxRows;
        var dataResult = data.OrderBy(x => x.PriceId).Skip((int)count!).Take(maxRows).ToList();
        double pageCount = (double)((decimal)data.Count() / Convert.ToDecimal(maxRows));

        PageCount = (int)Math.Ceiling(pageCount);

        Prices = dataResult;

        CurrentPageNumber = page;
    }

    private async Task CreateAsync()
    {
        if (createPrice!.PriceName is null) return;

        await datacontext.Prices.AddAsync(createPrice!);

        await datacontext.SaveChangesAsync();

        nag.Refresh(true);

    }

    private async Task EditModal(Price price)
    {
        PriceEdit = price;
        dialogPriceComponent!.LoadDefault();
        await js.InvokeVoidAsync("myDialogFunction");
    }

    private async Task DeleteModal(Price price)
    {
        PriceEdit = price;
        dialogPriceComponent!.ShowDeleteModal();
        await js.InvokeVoidAsync("myDialogFunction");
    }

    private async Task HandleEditEvent(Price price)
    {
        datacontext.Prices.Update(price);
        await datacontext.SaveChangesAsync();
        dialogPriceComponent!.LoadDefault();
        PriceEdit = new();
        nag.Refresh(true);
    }

    private async Task HandleDeleteEvent()
    {
        if (PriceEdit is null) return;

        datacontext.Prices.Remove(PriceEdit);
        await datacontext.SaveChangesAsync();
        dialogPriceComponent!.LoadDefault();
        PriceEdit = new();
        nag.Refresh(true);
    }
}
